<nav class="bd-main-menu menu-is-white" id="mobile-menu">
  <ul>
    <li class="menu-item-has-children">
      <a href="#">Home</a>
      <ul class="dp-menu">
        <li><a href="index-home.html">home One</a>
        </li>
        <li><a href="index-home-two.html">home Two</a></li>
        <li><a href="index-home-three.html">home three</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
      </ul>
    </li>

    <li class="has-mega-menu">
      <a href="#">Elements</a>
      <ul class="mega-menu mega-style-two">
        <li>
          <a href="#" class="title">elements pages one</a>
          <ul>
            <li><a href="style-guide.html">Style Guide</a></li>
            <li><a href="elements-accordion.html">Accordion</a></li>
            <li><a href="elements-about.html">About Us</a></li>
            <li><a href="elements-advancetab.html">Advance Tab</a></li>
            <li><a href="elements-blog.html">Blog</a></li>
            <li><a href="elements-brand.html">Brand</a></li>
            <li><a href="elements-breadcrumb.html">Breadcrumb</a></li>
            <li><a href="elements-buttons.html">Button</a></li>
            <li><a href="elements-cta.html">Call To Action</a></li>
            <li><a href="elements-counter.html">Counter</a></li>
            <li><a href="elements-destinations.html">Destinations</a></li>
            <li><a href="elements-form.html">Form</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="title">elements pages Two</a>
          <ul>
            <li><a href="elements-footer.html">Footer Style</a></li>
            <li><a href="elements-card.html">Image Card</a></li>
            <li><a href="elements-icomoon.html">Icomoon Fonts Icon</a></li>
            <li><a href="elements-our-offers.html">Offers</a></li>
            <li><a href="elements-pricing.html">Pricing</a></li>
            <li><a href="elements-social.html">Social Share</a></li>
            <li><a href="elements-team.html">Team</a></li>
            <li><a href="elements-testimonial.html">Testimonial</a></li>
            <li><a href="elements-tour.html">Tour</a></li>
            <li><a href="elements-why-chose.html">Why Chose Us</a></li>
            <li><a href="#">More Coming</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="menu-item-has-children">
      <a href="#">Pages</a>
      <ul class="dp-menu">
        <li><a href="about.html">About Us</a></li>
        <li><a href="pricing.html">Pricing</a></li>
        <li><a href="faq.html">FAQ</a></li>
        <li><a href="agent-grid.html">Agent Grid</a></li>
        <li><a href="agent-list.html">Agent List</a></li>
        <li><a href="agent-details.html">Agent Details</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
      </ul>
    </li>

    <li class="menu-item-has-children">
      <a href="#">Property</a>
      <ul class="dp-menu">
        <li><a href="property.html">Property</a></li>
        <li><a href="property-details.html">Property Details</a></li>
        <li><a href="index-home-three.html">home three</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
      </ul>
    </li>

    <li class="menu-item-has-children">
      <a href="#">Blog</a>
      <ul class="dp-menu">
        <li><a href="blog.html">Blog</a></li>
        <li><a href="blog-details.html">Blog Details</a></li>
        <li><a href="blog-grid.html">Blog Grid</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
        <li><a href="#">Coming soon</a></li>
      </ul>
    </li>

    <li class="menu-item-has-children">
      <a href="contact.html">Contact</a>
    </li>
  </ul>
</nav>