<div class="@@offerWrapper" data-background="@@offerThumb">
    <div class="@@offerContentWrapper">
        <div class="@@offerContent">
            <div class="@@sectionTitleWrapper anim-wrapper animation-style-3">
                <span class="@@sectionSubtitle">@@sectionSubtitleText</span>
                <h2 class="@@sectionTitle title-animation">@@sectionTitleText</h2>
                <p>@@sectionDescription</p>
            </div>
            <div class="offer-btn">
                @@include('button/btn-default.html',{
                "buttonWrapper" : "bd-primary-btn btn-style has-arrow is-bg btn-tertiary is-white radius-60",
                "buttonRightArrow" : "bd-primary-btn-arrow arrow-right",
                "buttonArrow" : "fa-regular fa-arrow-right",
                "buttonTextClass" : "bd-primary-btn-text",
                "buttonTextText" : "Book Now",
                "buttonEffect" : "bd-primary-btn-circle",
                "buttonLeftArrow" : "bd-primary-btn-arrow arrow-left",
                "ButtonLink" : "booking.html",})
            </div>
        </div>
    </div>
</div>