<section class="@@breadcrumbSection">
    <!-- breadcrumb background image -->
    <div class="@@breadcrumbImageClass" data-background="@@breadcrumbImage"></div>
    <div class="@@breadcrumbWrapClass">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="@@breadcrumbClass">
                        <div class="@@breadcrumbContent">
                            <h1 class="@@breadcrumbTitleClass">@@breadcrumbTitle</h1>
                            <div class="@@breadcrumbList">
                                <span><a href="index.html"><i class="icon-home"></i>Home</a></span>
                                <span>@@breadcrumbPageTitle</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>