<div class="product-wrapper">
   <div class="product-image-wrapper image-hover-effect">
      <a href="#" class="product-image">
         <div class="product-image-one">
            <img src="@@productThumbOne" alt="images not found">
         </div>
         <div class="product-image-two">
            <img src="@@productThumbTwo" alt="images not found">
         </div>
      </a>
      <span class="product-label"><span class="bd-badge fw-5 @@productLabelClass">@@productLabelText</span></span>
      <div class="product-links">
         <ul>
            <li><a href="shop-details.html"><i class="fas fa-eye"></i></a></li>
            <li><a href="wishlist.html"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="cart.html"><i class="fa fa-random"></i></a></li>
         </ul>
      </div>
   </div>
   <div class="product-content">
      <div class="product-rating">
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
      </div>
      <h5 class="product-title underline mb-5"><a href="shop-details.html">@@productTitle</a></h5>
      <div class="product-price">@@productPrice</div>
   </div>
</div>