<div class="activity-tab-content-wrapper p-relative">
   <div class="activity-tab-content-thumb">
      <img src="@@activityTabThumb" alt="image">
   </div>
   <div class="activity-tab-content">
      <h5 class="activity-tab-title underline mb-10"><a href="destinations-details-right.html">@@activityTabTitle</a></h5>
      <p class="mb-25">@@activityTabDescription</p>
      <div class="client-meta">
         <div class="client-thumb">
            <a href="#"><img src="assets/images/client/01.png" alt="images not found"></a>
            <a href="#"><img src="assets/images/client/02.png" alt="images not found"></a>
            <a href="#"><img src="assets/images/client/03.png" alt="images not found"></a>
            <a class="arrow" href="#">
               <span>3K+</span>
            </a>
         </div>
      </div>
   </div>
</div>
