<div class="activity-wrapper activity-style activity-style-six">
   <div class="activity-thumb image-overly">
      <a href="destinations-details-right.html"><img src="@@activityThumb" alt="image"></a>
   </div>
   <div class="activity-meta">
      <span><i class="icon-star"></i> @@activityRating</span>
   </div>
   <div class="activity-content-wrap">
      <div class="activity-content">
         <div class="activity-content-top d-flex align-items-center gap-10 justify-content-between">
            <div class="activity-title-wrap">
               <h6 class="underline"><a href="destinations-details-right.html">@@activityTitleText</a></h6>
            </div>
            <div class="activity-btn">
               <a class="bd-icon-btn hover-style" href="destinations-details-right.html" target="_blank"><i class="fa-sharp fa-regular fa-arrow-right"></i></a>
            </div>
         </div>
      </div>
   </div>
</div>