<div class="activity-wrapper activity-style-three">
    <div class="activity-thumb image-overly">
       <a href="destinations-details-right.html"><img src="@@activityThumb" alt="image"></a>
    </div>
    <div class="activity-content-wrap text-center">
       <div class="activity-btn">
          <a class="bd-icon-btn small" href="destinations-details-right.html"><i class="fa-solid fa-arrow-right"></i></a>
       </div>
       <div class="activity-content">
          <h6 class="underline"><a href="destinations-details-right.html">@@activityTitleText</a></h6>
          <p>@@activitySubTitle</p>
       </div>
    </div>
 </div>