<div class="activity-wrapper activity-style-four">
   <div class="activity-thumb image-overly">
      <a href="destinations-details-right.html"><img src="@@activityThumb" alt="image"></a>
   </div>
   <div class="activity-content-wrap">
      <div class="activity-content text-center">
         <div class="activity-title-wrap">
            <h6 class="activity-title underline"><a href="destinations-details-right.html">@@activityTitleText</a></h6>
            <p class="activity-subtitle">@@activitySubTitle</p>
         </div>
      </div>
   </div>
</div>