<div class="activity-wrapper activity-style style-five">
    <div class="activity-thumb image-overly">
        <a href="destinations-details-right.html"><img src="@@activityThumb" alt="image"></a>
    </div>
    <div class="activity-content-wrap">
        <div class="activity-content d-flex align-items-center justify-content-between">
            <div class="activity-title-wrap">
                <h5 class="underline"><a href="destinations-details-right.html">@@activityTitleText</a></h5>
                <p>@@activitySubTitle</p>
            </div>
            <div class="activity-btn">
                <a class="bd-icon-btn" href="destinations-details-right.html"><i class="fa-light fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>