<footer>
   <div class="bd-footer-area footer-secondary section-space-top">
      <div class="container">
         <div class="footer-intro-main style-two">
            <div class="footer-intro-inner">
               <div class="content">
                  <h3 class="title">Start your journey with our reallow property</h3>
               </div>
               <div class="btn-wrap">
                  @@include('button/btn-hover-x.html',{
                     "buttonClassName" : "bd-btn btn-style btn-hover-x hover-white",
                     "buttonText" : "Get In Touch",
                     "buttonIcon" : "fa-regular fa-arrow-right-long",
                     "buttonURL" : "#",
                  })
               </div>
            </div>
         </div>
         <div class="row justify-content-between">
            <div class="footer-middle">
               <div class="footer-widget-grid style-two">
                  <div class="footer-widget">
                     <div class="footer-info-wrapper">
                        <ul class="footer-info-list-items">
                           <li class="footer-info-single-item">
                              <span class="icon"><i class="fa-regular fa-location-dot"></i></span>
                              <span class="title">
                                 <a href="#">27 Division St, New York, NY 10002, USA</a>
                              </span>
                           </li>
                           <li class="footer-info-single-item">
                              <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                              <span class="title">
                                 <a href="mailto:reallow@mail.com">reallow@mail.com</a>
                              </span>
                           </li>
                           <li class="footer-info-single-item">
                              <span class="icon"><i class="fa-regular fa-phone-volume"></i></span>
                              <span class="title">
                                 <a href="tel:+1(800)123456789">+00 (123) 456 889</a>
                              </span>
                           </li>
                        </ul>
                        <div class="bd-social">
                           <ul>
                              <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="footer-widget">
                     <div class="footer-widget-links">
                        <ul>
                           <li class="underline"><a href="#">Property</a></li>
                           <li class="underline"><a href="#">Vision & Values</a></li>
                           <li class="underline"><a href="#">History</a></li>
                           <li class="underline"><a href="#">Awards</a></li>
                           <li class="underline"><a href="#">Leadership</a></li>
                           <li class="underline"><a href="#">Spotlight</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="footer-widget">
                     <div class="footer-widget-links">
                        <ul>
                           <li class="underline"><a href="#">CSR</a></li>
                           <li class="underline"><a href="#">Sustainability</a></li>
                           <li class="underline"><a href="#">Careers</a></li>
                           <li class="underline"><a href="#">Media</a></li>
                           <li class="underline"><a href="#">Services</a></li>
                           <li class="underline"><a href="#">Products</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="footer-widget">
                     <div class="footer-google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d60970.02123903755!2d-74.01588829728814!3d40.707092808586985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1712226046538!5m2!1sen!2sbd"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-copyright-area include-bg" data-background="assets/images/bg/copy-right-bg.png">
      <div class="container">
         <div class="footer-copyright-wrap">
            <div class="logo">
               <a href="#">
                  <img src="assets/images/logo/logo-white.svg" alt="footer logo not found">
               </a>
            </div>
            <div class="footer-copyright">
               <p class="description underline">2024 - Copyright & design by <a href="#">Reallow.</a> All Right Reserved.</p>
            </div>
         </div>
      </div>
   </div>
</footer>