<footer>
   <div class="bd-footer-area footer-primary section-space-top black-bg">
      <div class="container">
         <div class="footer-intro-main style-one">
            <div class="footer-intro-inner">
               <div class="content">
                  <h2 class="title">Become our agent?</h2>
               </div>
               <div class="btn-wrap">
                  @@include('button/btn-half-outline.html',{
                     "buttonClass" : "bd-half-outline-btn",
                     "buttonTextClass" : "text",
                     "buttonText" : "Apply Today",
                     "buttonLink" : "agent-details.html",
                 })
               </div>
            </div>
         </div>
         <div class="footer-middle">
            <div class="footer-widget-grid style-one">
               <div class="footer-widget">
                  <div class="footer-logo">
                     <a href="#">
                        <img src="assets/images/logo/logo-white.svg" alt="logo not found">
                     </a>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Company</h3>
                  <div class="footer-info-wrapper">
                     <ul class="footer-info-list-items mb-0">
                        <li class="footer-info-single-item">
                           <span class="icon"><i class="fa-regular fa-location-dot"></i></span>
                           <span class="title">
                              <a target="_blank" href="https://www.google.com/maps">27 Division St, New York, NY 10002, USA</a>
                           </span>
                        </li>
                        <li class="footer-info-single-item">
                           <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                           <span class="title">
                              <a href="mailto:reallow@mail.com">reallow@mail.com</a>
                           </span>
                        </li>
                        <li class="footer-info-single-item">
                           <span class="icon"><i class="fa-regular fa-phone-volume"></i></span>
                           <span class="title">
                              <a href="tel:+1(800)123456789">++1 (800) 123 456 789</a>
                           </span>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Category</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Modern House</a></li>
                        <li class="underline"><a href="#">Cottage House</a></li>
                        <li class="underline"><a href="#">Cabin House</a></li>
                        <li class="underline"><a href="#">Rambler House</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">About us</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Mission</a></li>
                        <li class="underline"><a href="#">Careers</a></li>
                        <li class="underline"><a href="#">Security</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Resources</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Blog</a></li>
                        <li class="underline"><a href="#">Customer Service</a></li>
                        <li class="underline"><a href="#">Contact us</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-copyright-area">
            <div class="footer-copyright-wrap">
               <div class="footer-copyright">
                  <p class="description underline">2024 - Copyright & design by <a href="#">Reallow.</a> All Right Reserved.</p>
               </div>
               <div class="footer-lang-item header-lang">
                  <span class="footer-lang-toggle" id="footer-lang-toggle"><i class="fa-regular fa-globe"></i>English</span>
                  <ul>
                     <li>
                        <a href="#">English</a>
                     </li>
                     <li>
                        <a href="#">Deutsch</a>
                     </li>
                     <li>
                        <a href="#">Español</a>
                     </li>
                     <li>
                        <a href="#">简体中文</a>
                     </li>
                  </ul>
              </div>
            </div>
         </div>
      </div>
   </div>
</footer>