<footer class="bd-footer-area">
   <div class="footer-top-area section-space">
      <div class="container">
         <div class="row">
            <div class="widget-grid">
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Category</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Modern House</a></li>
                        <li class="underline"><a href="#">Cottage House</a></li>
                        <li class="underline"><a href="#">Cabin House</a></li>
                        <li class="underline"><a href="#">Rambler House</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Company</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Buying</a></li>
                        <li class="underline"><a href="#">Selling</a></li>
                        <li class="underline"><a href="#">Renting</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">Resources</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Blog</a></li>
                        <li class="underline"><a href="#">Customer Service</a></li>
                        <li class="underline"><a href="#">Contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="footer-widget">
                  <h3 class="footer-wg-title">About us</h3>
                  <div class="footer-widget-links">
                     <ul>
                        <li class="underline"><a href="#">Mission</a></li>
                        <li class="underline"><a href="#">Careers</a></li>
                        <li class="underline"><a href="#">Security</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
   <div class="footer-botom-area section-space">
      <div class="container">
         <div class="widget-grid">
            <div class="footer-widget">
               <div class="footer-logo mb-40">
                  <img src="assets/images/logo/logo-black.svg" alt="logo not found">
               </div>
               <div class="footer-info-wrapper">
                  <ul class="footer-info-list-items mb-0">
                     <li class="footer-info-single-item">
                        <span class="icon"><i class="fa-regular fa-location-dot"></i></span>
                        <span class="title">
                           <a target="_blank" href="https://www.google.com/maps">27 Division St, New York, NY 10002, USA</a>
                        </span>
                     </li>
                     <li class="footer-info-single-item">
                        <span class="icon"><i class="fa-regular fa-envelope"></i></span>
                        <span class="title">
                           <a href="mailto:reallow@mail.com">reallow@mail.com</a>
                        </span>
                     </li>
                     <li class="footer-info-single-item">
                        <span class="icon"><i class="fa-regular fa-phone-volume"></i></span>
                        <span class="title">
                           <a href="tel:+1(800)123456789">+00 (123) 456 889</a>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="footer-from-content">
               <h3 class="title">Subscribe to our newsletter</h3>
               <form action="#">
                  <div class="bd-common-form">
                      <input type="email" placeholder="Your email address">
                      <button class="bd-btn btn-style btn-hover-x btn-xs" type="submit"> <i class="far fa-arrow-right"></i>Subscribe</button>
                  </div>
              </form>
              <div class="bd-social">
               <ul>
                  <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
               </ul>
            </div>
            </div>
         </div>
      </div>
   </div>
   <div class="footer-copyright-area style-two include-bg" data-background="assets/images/bg/copy-right-bg-white.png">
      <div class="container">
         <div class="footer-copyright text-center">
            <p class="description">2024 - Copyright & design by <a class="bd-underline-hover" href="contact.html">Reallow.</a> All Right Reserved.</p>
         </div>
      </div>
   </div>
</footer>