<div class="brand__area-6 theme-bg section-rounded-100 section-space">
   <div class="container">
      <div class="swiper brnad__active">
         <div class="swiper-wrapper">
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-01.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-02.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-03.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-04.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-05.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-06.png" alt="image">
                     </div>
                  </div>
               </div>
               <div class="swiper-slide">
                  <div class="brand__item text-center">
                     <div class="brand__thumb">
                           <img src="assets/images/brand/brand-02.png" alt="image">
                     </div>
                  </div>
               </div>
         </div>
      </div>
   </div>
</div>