<article class="blog-wrapper blog-default blog-style-three">
    <div class="blog-thumb image-hover-effect">
        <a href="blog-details.html"><img src="@@blogThumb" alt="img"></a>
    </div>
    <div class="blog-tag">
        <span><a href="blogLink">@@blogTagText</a></span>
    </div>
    <div class="blog-content">
        <div class="blog-meta-list">
            <div class="blog-meta-item">
                <span class="meta-icon">
                    <i class="icon-person"></i>
                </span>
                <span class="meta-text">By <a class="meta-author" href="blog-details.html">@@metaTextLink</a></span>
            </div>
            <div class="blog-meta-item">
                <span class="meta-icon">
                    <i class="icon-cleander-check"></i>
                </span>
                <span class="meta-text"><a href="blog-details.html">@@metaTextLink_2</a></span>
            </div>
        </div>
        <h5 class="blog-title mb-30 underline"><a href="blog-details.html">@@blogTitleText</a></h5>
        <div class="blog-btn">
            <a href="#" class="bd-primary-btn btn-style has-arrow radius-60">
                <span class="bd-primary-btn-arrow arrow-right"><i class="fa-regular fa-arrow-right-long"></i></span>
                <span class="bd-primary-btn-text">Read More</span>
                <span class="bd-primary-btn-circle"></span>
                <span class="bd-primary-btn-arrow arrow-left"><i class="fa-regular fa-arrow-right-long"></i></span>
            </a>
        </div>
    </div>
</article>