<article class="blog__item-9 wow fadeIn wow fadeInUp" data-wow-delay=".5s">
    <video src="assets/video/hero.mp4"></video>
    <div class="blog__content-3">
        <div class="postbox__meta mb-15">
            <span>By :<a href="blog-details.html">  Marilia Valse</a></span>
            <span><a href="blog-details.html">15 Aug 2023</a></span>
        </div>
        <h4 class="blog__title-3"><a href="blog-details.html">Understanding the technology shaping our future</a></h4>
    </div>
</article>


<!-- <article class="@@blogItem_3 wow fadeInUp" data-wow-delay="@@wowAnimationTime">
    <div class="@@blogThumb_3">
        <a href="@@blogLink"><img src="@@blogImage" alt="image"></a>
    </div>
    <div class="@@blogContent_3">
        <div class="@@postBoxMeta">
            <span>@@postBoxMetaText<a href="@@blogLink"> @@postBoxMetaName</a></span>
            <span><a href="@@blogLink">@@postBoxMetaDate</a></span>
        </div>
        <h4 class="@@blogTitle_3"><a href="@@blogLink">@@blogTitleText</a></h4>
    </div>
</article> -->