<article class="blog__wrap @@blogWrapperClass" data-wow-delay="@@wowAnimationTime">
    <video @@videoControls id="@@videoId" src="@@videoSource"></video>
    <div class="@@blogContent">
        <div class="@@blogTag">
            <span><a href="@@blogTagLink">@@blogTagTitle</a></span>
        </div>
        <h5 class="@@blogTitle"><a href="@@blogLink">@@blogTitleText</a></h5>
        <div class="@@postBoxMeta">
            <span>@@postBoxMetaText <img class="@@postBoxMetaThumbClass" src="@@postBoxMetaThumb"
                    alt="image"><a href="@@blogLink"> @@postBoxMetaName</a></span>
            <span><i class="@@postBoxMetaIcon"></i><a href="@@blogLink">@@postBoxMetaDate</a></span>
        </div>
    </div>
</article>