<article class="blog-wrapper blog-default blog-style-six">
    <div class="blog-thumb image-hover-effect">
        <a href="blog-details.html"><img src="@@blogThumb" alt="image"></a>
    </div>
    <div class="blog-content">
        <div class="blog-meta-list">
            <div class="blog-meta-item has-seperator">
                <span class="meta-icon">
                    <i class="icon-profile"></i>
                </span>
                <span class="meta-text"><a class="meta-author" href="blog-details.html">@@metaAuthor</a></span>
            </div>
            <div class="blog-meta-item">
                <span class="meta-icon">
                    <i class="icon-cleander-check"></i>
                </span>
                <span class="meta-text"><a href="blog-details.html">@@metaDate</a></span>
            </div>
        </div>
        <h5 class="blog-title mb-5 underline"><a href="blog-details.html">@@blogTitle</a></h5>
        <p>@@blogDescription</p>
        <div class="">
            <div class="icon-text-btn p-relative">
                <a href="blog-details.html">
                    <span>Read More</span>
                    <i>
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.2871 1L17 6.71285L11.2871 12.4257" stroke="currentColor" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M1 6.71313H16.8397" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </i>
                </a>
            </div>
        </div>
    </div>
</article>