<div class="@@ctaWrappperClass">
    <div class="@@ctaBgClass" data-background="@@ctaDataBgImg"></div>
    <div class="row align-items-center">
       <div class="col-xxl-6 col-xl-6 col-lg-6">
          <div class="@@ctaThumbWrapper">
             <div class="@@ctaThumbClass">
                <img src="@@ctaThumbImg" alt="image">
             </div>
          </div>
       </div>
       <div class="col-xxl-6 col-xl-6 col-lg-6">
          <div class="@@ctaContentWrapper">
             <div class="@@SectionTitleWrapper">
                <span class="@@sectionSubtitle">@@sectionSubtitleText</span>
                <h2 class="@@sectionTitle">@@sectionTitleText</h2>
             </div>
             <div class="@@ctaDownloadApp">
                <div class="@@ctaDownloadAppThumb_1">
                   <a href="@@ctaDownloadLink_1">
                      <img src="@@ctaDownloadAppThumbImg_1" alt="image">
                   </a>
                </div>
                <div class="@@ctaDownloadAppThumb_2">
                   <a href="@@ctaDownloadLink_2">
                      <img src="@@ctaDownloadAppThumbImg_2" alt="image">
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>