
<section class="slider__area banner-height-one banner-two p-relative fix">
    <div class="banner-glow-two">
       <div class="glow-one"></div>
    </div>
    <div class="container">
       <div class="slider__grid-2">
          <div class="slider__content-2 wow fadeInLeft animated" data-wow-delay=".1.5s">
             <span class="slider__sbutitle-2 uppercase mb-25">Explore finwise now</span>
             <h2 class="cd-headline clip is-full-width">Unlock the Potential of your <br>
                <span class="cd-words-wrapper">
                <b class="is-hidden gradient-text-1">Investments</b>
                <b class="is-visible gradient-text-1">Financial</b>
                <b class="is-hidden gradient-text-1">Portfolio</b>
                </span>
             </h2>
             <div class="slider__input">
                <form action="#">
                   <input type="text" placeholder="Enter Email">
                   <button class="bd-gradient-btn" type="submit">Submit now<span><i class="fa-regular fa-arrow-right-long"></i></span></button>
                </form>
             </div>
          </div>
          <div class="slider__thumb-wrapper-2 p-relative z-index-11 wow fadeInRight animated" data-wow-delay=".1.5s">
             <div class="slider__thumb-2">
                <img src="assets/images/banner/banner-02.png" alt="image">
             </div>
             <div class="slider__card" data-parallax='{"y": 60, "smoothness": 15}'>
                <div class="slider__card-info">
                   <span>Earn way more 👍</span>
                   <h2><span class="counter">12.2</span>%</h2>
                </div>
             </div>
             <div class="banner-round wow zoomIn" data-wow-delay=".3s"></div>
             <div class="slider__blur"></div>
          </div>
       </div>
    </div>
 </section>
