<div class="tour-wrapper style-three">
    <div class="tour-thumb-wrapper p-relative">
        <div class="tour-thumb image-overly">
            <a href="tour-details.html"><img src="@@tourImage" alt="image"></a>
        </div>
        <div class="tour-meta d-flex align-items-center justify-content-between">
            <button class="tour-favorite tour-like">
                <i class="icon-heart"></i>
            </button>
        </div>
    </div>
    <div class="tour-content">
        <div class="tour-meta mb-10 d-flex align-items-center justify-content-between">
            <div class="tour-location underline">
                <i class="fa-regular fa-location-dot"></i> <a href="tour-details.html">@@tourLocation</a>
            </div>
            <h6 class="tour-price b3">@@tourPrice <span class="tour-price-tag">@@tourPriceDay</span></h6>
        </div>
        <h5 class="tour-title fw-5 underline mb-5"><a href="tour-details.html">@@tourTitle</a></h5>
        <div class="tour-divider"></div>
        <div class="tour-rating d-flex align-items-center justify-content-between">
            <div class="tour-rating-wrap d-flex align-items-center gap-10">
                <div class="tour-rating-icon fs-14 d-flex rating-color">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span>@@tourRating</span>
            </div>
            <div class="tour-rating-text">
                <span><a href="#">@@tourTotalRating</a></span>
            </div>
        </div>
    </div>
</div>