<div class="cta__wrapper @@ctaMainClass">
    <div class="@@ctaBgClass" data-background="@@ctaBgImg"></div>
    <div class="@@ctaItemBox">
        <div class="@@ctaThumbWrapper">
            <div class="@@ctaThumbClass">
                <img src="@@ctaThumbImg" alt="image">
            </div>
        </div>
        <div class="@@ctaConten">
            <div class="@@sectionTitleWrapper anim-wrapper animation-style-3">
                <span class="@@sectionSubtitleName">@@sectionSubtitleText</span>
                <h2 class="@@sectionTitleName title-animation">@@sectionTitleText</h2>
                <p class="@@sectionParagraph">@@sectionParagraphText</p>
            </div>
            <div class="@@ctaDownloadApp">
                <div class="@@ctaDownloadAppThumb">
                    <a href="@@ctaDownloadAppLink">
                        <img src="@@ctaDownloadAppThumb" alt="image">
                    </a>
                </div>
                <div class="@@ctaDownloadAppThumb">
                    <a href="@@ctaDownloadAppLink">
                        <img src="@@ctaDownloadAppThumb_2" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>