<div class="newsletter__wrapper @@newsletterWrapperClass">
   <div class="@@newsletterCircle_1"></div>
   <div class="@@newsletterCircle_2"></div>
   <div class="@@newsletterThumbBgClass" data-background="@@newsletterDataImg"></div>
   <div class="row @@rowClass">
      <div class="@@columnClass">
         <div class="@@newsletterContentWrap">
            <div class="@@newsletterContent">
               <div class="@@sectionTitleWrapper anim-wrapper animation-style-3">
                  <span class="@@sectionSubtitleName">@@sectionSubtitleText</span>
                  <h2 class="@@sectionTitleName title-animation">@@sectionTitleText</h2>
               </div>
            </div>
            <div class="@@newsletterForm">
               <form action="#">
                  <div class="@@newsletterInput">
                     <input type="text" placeholder="@@placeholderText">
                     <button type="submit" class="bd-primary-btn btn-style has-arrow is-bg radius-8">
                        <span class="bd-primary-btn-arrow arrow-right"><i class="fa-regular fa-arrow-right-long"></i></span>
                        <span class="bd-primary-btn-text">Subscribe Now</span>
                        <span class="bd-primary-btn-circle"></span>
                        <span class="bd-primary-btn-arrow arrow-left"><i class="fa-regular fa-arrow-right-long"></i></span>
                  </button>
                  </div>
               </form>
            </div>
         </div>
         <div class="@@newsletterInfoList">
            <ul>
               <li>
                  <i class="@@newsletterInfoListIcon"></i>
                  <p>@@newsletterInfoListText_1</p>
               </li>
               <li>
                  <i class="@@newsletterInfoListIcon"></i>
                  <p>@@newsletterInfoListText_2</p>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>