<div class="cta__wrapper @@ctaMainClass">
   <div class="@@ctaThumb">
      <img src="@@ctaImage" alt="image">
   </div>
   <div class="@@ctaItemClass">
      <div class="@@sectionTitleWrapper anim-wrapper animation-style-3">
         <span class="@@sectionSubtitleName">@@sectionSubtitleText</span>
         <h2 class="@@sectionTitleName title-animation">@@sectionTitleText</h2>
         <p class="@@sectionParagraph">@@sectionParagraphText</p>
     </div>
     <div class="@@ctaMetaContent">
        <div class="@@ctaIconClass">
           <i class="@@ctaIconName"></i>
        </div>
        <a href="@@ctaMetaLink">@@ctaMetaLinkText</a>
     </div>
   </div>
</div>