<div class="team-wrapper team-style-two">
   <div class="team-content-wrap position-relative">
      <div class="team-thumb-wrap">
         <div class="team-thumb image-overly radius-8">
            <a href="team-details.html"><img src="@@teamThumb"alt="image"></a>
         </div>
         <div class="theme-social team-social has-white-bg">
            <a class="icon-1" target="_blank" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
            <a class="icon-2" target="_blank" href="https://twitter.com/"><i class="icon-twitter-x"></i></a>
            <a class="icon-3" target="_blank" href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
            <a class="icon-4" target="_blank" href="https://bd.linkedin.com/"><i class="icon-linkedin"></i></a>
         </div>
      </div>
      <div class="team-content">
         <h6 class="team-member-name b3 underline"><a href="team-details.html">@@teamMemberName</a></h6>
         <span>@@teamMemberDegi</span>
      </div>
   </div>
</div>