<div class="team-wrapper team-style-five">
   <div class="team-thumb image-overly radius-8 mb-15">
      <a href="team-details.html"><img src="@@teamThumb" alt="image"></a>
   </div>
   <div class="team-content mb-10">
      <span class="team-member-designation">@@teamMemberDesignation</span>
      <h5 class="team-member-name underline"><a href="team-details.html">@@teamMember</a></h5>
   </div>
   <div class="theme-social team-social">
      <a class="icon-1" target="_blank" href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
      <a class="icon-2" target="_blank" href="https://twitter.com/"><i class="icon-twitter-x"></i></a>
      <a class="icon-3" target="_blank" href="https://www.instagram.com/"><i class="icon-instagram"></i></a>
      <a class="icon-4" target="_blank" href="https://bd.linkedin.com/"><i class="icon-linkedin"></i></a>
   </div>
</div>