<div class="accordion-wrapper faq-style-2">
    <div class="accordion accordion-border" id="accordionExampleTwo">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                    aria-expanded="true" aria-controls="collapseSix">
                    <span><i class="@@accordionHeaderIcon"></i></span> @@accordionHeader_1
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse show" aria-labelledby="headingSix"
                data-bs-parent="#accordionExampleTwo">
                <div class="accordion-body">@@accordionBodyText_1 <a href="@@accordionBodyBtnLink"
                        class="@@accordionBodyBtnClass">@@accordionBodyBtnTitle <i
                            class="@@accordionBodyBtnIcon"></i></a></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <span><i class="@@accordionHeaderIcon_2"></i></span> @@accordionHeader_2
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExampleTwo">
                <div class="accordion-body">@@accordionBodyText_2 <a href="@@accordionBodyBtnLink"
                        class="@@accordionBodyBtnClass">@@accordionBodyBtnTitle <i
                            class="@@accordionBodyBtnIcon"></i></a></div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <span><i class="@@accordionHeaderIcon_3"></i></span> @@accordionHeader_3
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                data-bs-parent="#accordionExampleTwo">
                <div class="accordion-body">@@accordionBodyText_3 <a href="@@accordionBodyBtnLink"
                        class="@@accordionBodyBtnClass">@@accordionBodyBtnTitle <i
                            class="@@accordionBodyBtnIcon"></i></a></div>
            </div>
        </div>
    </div>
</div>