<div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-3">
        <div class="accordion-wrapper mb-35 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="faq-tab accordion-wrapper faq-style-2">
                <nav>
                    <div class="nav nav-tabs flex-column" id="nav-tab-2" role="tablist">
                        <button class="nav-link" id="nav-general-2-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-general-2" type="button" role="tab" aria-controls="nav-general-2"
                            aria-selected="false">
                            <span>
                                <i class="icon-support"></i>
                            </span>
                            Questions 01
                        </button>
                        <button class="nav-link active" id="nav-community-2-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-community-2" type="button" role="tab"
                            aria-controls="nav-community-2" aria-selected="false">
                            <span>
                                <i class="icon-envelope-b"></i>
                            </span>
                            Questions 02
                        </button>
                        <button class="nav-link" id="nav-support-2-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-support-2" type="button" role="tab" aria-controls="nav-support-2"
                            aria-selected="true">
                            <span>
                                <i class="icon-share"></i>
                            </span>
                            Questions 03
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-xl-9 col-lg-9">
        <div class="faq-tab-content wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="tab-content" id="nav-tabContent_2">
                <div class="tab-pane fade" id="nav-general-2" role="tabpanel" aria-labelledby="nav-general-2-tab">
                    <div class="accordion-wrapper">
                        <div class="accordion" id="accordionExampleEight">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyFour">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyFour" aria-expanded="true" aria-controls="collapseTwentyFour">
                                        <span>Q.</span> What should I pack for my trip?
                                    </button>
                                </h2>
                                <div id="collapseTwentyFour" class="accordion-collapse collapse show" aria-labelledby="headingTwentyFour"
                                    data-bs-parent="#accordionExampleEight">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g., beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseTwentyFive" class="accordion-collapse collapse" aria-labelledby="headingTwentyFive"
                                    data-bs-parent="#accordionExampleEight">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices, such as using fare comparison websites, booking in advance, and being flexible with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentySix">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseTwentySix" class="accordion-collapse collapse" aria-labelledby="headingTwentySix"
                                    data-bs-parent="#accordionExampleEight">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="nav-community-2" role="tabpanel"
                    aria-labelledby="nav-community-2-tab">
                    <div class="accordion-wrapper">
                        <div class="accordion" id="accordionExampleNine">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentySeven">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentySeven" aria-expanded="true" aria-controls="collapseTwentySeven">
                                        <span>Q.</span> What should I pack for my trip?
                                    </button>
                                </h2>
                                <div id="collapseTwentySeven" class="accordion-collapse collapse show" aria-labelledby="headingTwentySeven"
                                    data-bs-parent="#accordionExampleNine">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g., beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyEight">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseTwentyEight" class="accordion-collapse collapse" aria-labelledby="headingTwentyEight"
                                    data-bs-parent="#accordionExampleNine">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices, such as using fare comparison websites, booking in advance, and being flexible with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyNine">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyNine" aria-expanded="false" aria-controls="collapseTwentyNine">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseTwentyNine" class="accordion-collapse collapse" aria-labelledby="headingTwentyNine"
                                    data-bs-parent="#accordionExampleNine">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-support-2" role="tabpanel"
                    aria-labelledby="nav-support-2-tab">
                    <div class="accordion-wrapper">
                        <div class="accordion" id="accordionExampleTen">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThirty">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThirty" aria-expanded="true" aria-controls="collapseThirty">
                                        <span>Q.</span> What should I pack for my trip?0
                                    </button>
                                </h2>
                                <div id="collapseThirty" class="accordion-collapse collapse show" aria-labelledby="headingThirty"
                                    data-bs-parent="#accordionExampleTen">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g., beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThirtyOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThirtyOne" aria-expanded="false" aria-controls="collapseThirtyOne">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseThirtyOne" class="accordion-collapse collapse" aria-labelledby="headingThirtyOne"
                                    data-bs-parent="#accordionExampleTen">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices, such as using fare comparison websites, booking in advance, and being flexible with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThirtyTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThirtyTwo" aria-expanded="false" aria-controls="collapseThirtyTwo">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseThirtyTwo" class="accordion-collapse collapse" aria-labelledby="headingThirtyTwo"
                                    data-bs-parent="#accordionExampleTen">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>