<div class="row">
    <div class="col-xxl-12">
        <div class="faq-tab-2 bd-tab mb-50">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general"
                        type="button" role="tab" aria-controls="general" aria-selected="true">
                        <span>
                            <i class="icon-support"></i>
                        </span>
                        Questions 01
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="community-tab" data-bs-toggle="tab" data-bs-target="#community"
                        type="button" role="tab" aria-controls="community" aria-selected="false">
                        <span>
                            <i class="icon-envelope-b"></i>
                        </span>
                        Questions 02
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="support-tab" data-bs-toggle="tab" data-bs-target="#support"
                        type="button" role="tab" aria-controls="support" aria-selected="false">
                        <span>
                            <i class="icon-share"></i>
                        </span>
                        Questions 03
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="faq-item-wrapper">
    <div class="tab-content" id="faqTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
            <!-- faq item one -->
            <div class="faq-item">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <div class="faq-content">
                            <h3 class="faq-title-2">Questions <br>&amp; Answer</h3>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="accordion-wrapper faq-style-3">
                            <div class="accordion" id="accordionExampleEleven">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThirtyThree">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseThirtyThree" aria-expanded="true"
                                            aria-controls="collapseThirtyThree">
                                            <span>Q.</span> What should I pack for my trip?
                                        </button>
                                    </h2>
                                    <div id="collapseThirtyThree" class="accordion-collapse collapse show"
                                        aria-labelledby="headingThirtyThree" data-bs-parent="#accordionExampleEleven">
                                        <div class="accordion-body">
                                            Create comprehensive packing lists tailored to different types of trips
                                            (e.g., beach vacation, hiking adventure, city exploration).
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThirtyFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThirtyFour"
                                            aria-expanded="false" aria-controls="collapseThirtyFour">
                                            <span>Q.</span> How do I find the best deals on flights and accommodations?
                                        </button>
                                    </h2>
                                    <div id="collapseThirtyFour" class="accordion-collapse collapse"
                                        aria-labelledby="headingThirtyFour" data-bs-parent="#accordionExampleEleven">
                                        <div class="accordion-body">
                                            Share strategies for booking flights and accommodations at the lowest
                                            prices, such as using fare comparison websites, booking in advance, and
                                            being flexible with travel dates.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThirtyFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseThirtyFive"
                                            aria-expanded="false" aria-controls="collapseThirtyFive">
                                            <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                        </button>
                                    </h2>
                                    <div id="collapseThirtyFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingThirtyFive" data-bs-parent="#accordionExampleEleven">
                                        <div class="accordion-body">
                                            Discuss common safety precautions, such as avoiding unsafe areas, securing
                                            valuables, and staying vigilant in crowded places.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="community" role="tabpanel" aria-labelledby="community-tab">
            <!-- faq item two -->
            <div class="faq-item">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <div class="faq-content">
                            <h3 class="faq-title-2">Tour <br>&amp; Package</h3>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="accordion-wrapper faq-style-3">
                            <div class="accordion" id="accordionExampleFourteen">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortyFour">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFortyFour" aria-expanded="true"
                                            aria-controls="collapseFortyFour">
                                            <span>Q.</span> What should I pack for my trip?
                                        </button>
                                    </h2>
                                    <div id="collapseFortyFour" class="accordion-collapse collapse show"
                                        aria-labelledby="headingFortyFour" data-bs-parent="#accordionExampleFourteen">
                                        <div class="accordion-body">
                                            Create comprehensive packing lists tailored to different types of trips
                                            (e.g., beach vacation, hiking adventure, city exploration).
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortyFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFortyFive"
                                            aria-expanded="false" aria-controls="collapseFortyFive">
                                            <span>Q.</span> How do I find the best deals on flights and accommodations?
                                        </button>
                                    </h2>
                                    <div id="collapseFortyFive" class="accordion-collapse collapse"
                                        aria-labelledby="headingFortyFive" data-bs-parent="#accordionExampleFourteen">
                                        <div class="accordion-body">
                                            Share strategies for booking flights and accommodations at the lowest
                                            prices, such as using fare comparison websites, booking in advance, and
                                            being flexible with travel dates.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortySix">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFortySix"
                                            aria-expanded="false" aria-controls="collapseFortySix">
                                            <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                        </button>
                                    </h2>
                                    <div id="collapseFortySix" class="accordion-collapse collapse"
                                        aria-labelledby="headingFortySix" data-bs-parent="#accordionExampleFourteen">
                                        <div class="accordion-body">
                                            Discuss common safety precautions, such as avoiding unsafe areas, securing
                                            valuables, and staying vigilant in crowded places.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="support" role="tabpanel" aria-labelledby="support-tab">
            <!-- faq item three -->
            <div class="faq-item">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-12">
                        <div class="faq-content">
                            <h3 class="faq-title-2">Trip Details</h3>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="accordion-wrapper faq-style-3">
                            <div class="accordion" id="accordionExampleFifteen">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortySeven">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapseFortySeven" aria-expanded="true"
                                            aria-controls="collapseFortySeven">
                                            <span>Q.</span> What should I pack for my trip?
                                        </button>
                                    </h2>
                                    <div id="collapseFortySeven" class="accordion-collapse collapse show"
                                        aria-labelledby="headingFortySeven" data-bs-parent="#accordionExampleFifteen">
                                        <div class="accordion-body">
                                            Create comprehensive packing lists tailored to different types of trips
                                            (e.g., beach vacation, hiking adventure, city exploration).
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortyEight">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFortyEight"
                                            aria-expanded="false" aria-controls="collapseFortyEight">
                                            <span>Q.</span> How do I find the best deals on flights and accommodations?
                                        </button>
                                    </h2>
                                    <div id="collapseFortyEight" class="accordion-collapse collapse"
                                        aria-labelledby="headingFortyEight" data-bs-parent="#accordionExampleFifteen">
                                        <div class="accordion-body">
                                            Share strategies for booking flights and accommodations at the lowest
                                            prices, such as using fare comparison websites, booking in advance, and
                                            being flexible with travel dates.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingFortyNine">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#collapseFortyNine"
                                            aria-expanded="false" aria-controls="collapseFortyNine">
                                            <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                        </button>
                                    </h2>
                                    <div id="collapseFortyNine" class="accordion-collapse collapse"
                                        aria-labelledby="headingFortyNine" data-bs-parent="#accordionExampleFifteen">
                                        <div class="accordion-body">
                                            Discuss common safety precautions, such as avoiding unsafe areas, securing
                                            valuables, and staying vigilant in crowded places.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>