<div class="row">
    <div class="col-xxl-3 col-xl-3 col-lg-3">
        <div class="faq-wrapper mb-35 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;">
            <div class="faq-tab">
                <nav>
                    <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-general-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general"
                            aria-selected="false">
                            <span>
                                <i class="icon-support"></i>
                            </span>
                            Questions 01
                        </button>
                        <button class="nav-link" id="nav-community-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-community" type="button" role="tab" aria-controls="nav-community"
                            aria-selected="false">
                            <span>
                                <i class="icon-envelope-b"></i>
                            </span>
                            Questions 02
                        </button>
                        <button class="nav-link" id="nav-support-tab" data-bs-toggle="tab" data-bs-target="#nav-support"
                            type="button" role="tab" aria-controls="nav-support" aria-selected="true">
                            <span>
                                <i class="icon-share"></i>
                            </span>
                            Questions 03
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-xxl-9 col-xl-9 col-lg-9">
        <div class="faq-tab-content bd-accordion wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1s"
            style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s; animation-name: fadeInUp;">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show" id="nav-general" role="tabpanel"
                    aria-labelledby="nav-general-tab">
                    <div class="accordion-wrapper faq-style-2">
                        <div class="accordion" id="accordionExampleFive">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFifteen">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseFifteen" aria-expanded="true"
                                        aria-controls="collapseFifteen">
                                        <span>Q.</span> What should I pack for my trip?
                                    </button>
                                </h2>
                                <div id="collapseFifteen" class="accordion-collapse collapse show"
                                    aria-labelledby="headingFifteen" data-bs-parent="#accordionExampleFive">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g.,
                                        beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSixteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSixteen" aria-expanded="false"
                                        aria-controls="collapseSixteen">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseSixteen" class="accordion-collapse collapse"
                                    aria-labelledby="headingSixteen" data-bs-parent="#accordionExampleFive">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices,
                                        such as using fare comparison websites, booking in advance, and being flexible
                                        with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSeventeen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseSeventeen" aria-expanded="false"
                                        aria-controls="collapseSeventeen">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseSeventeen" class="accordion-collapse collapse"
                                    aria-labelledby="headingSeventeen" data-bs-parent="#accordionExampleFive">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing
                                        valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-community" role="tabpanel" aria-labelledby="nav-community-tab">
                    <div class="accordion-wrapper faq-style-2">
                        <div class="accordion" id="accordionExampleSix">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingEighteen">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseEighteen" aria-expanded="true"
                                        aria-controls="collapseEighteen">
                                        <span>Q.</span> What should I pack for my trip?2
                                    </button>
                                </h2>
                                <div id="collapseEighteen" class="accordion-collapse collapse show"
                                    aria-labelledby="headingEighteen" data-bs-parent="#accordionExampleSix">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g.,
                                        beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingNineteen">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseNineteen" aria-expanded="false"
                                        aria-controls="collapseNineteen">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseNineteen" class="accordion-collapse collapse"
                                    aria-labelledby="headingNineteen" data-bs-parent="#accordionExampleSix">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices,
                                        such as using fare comparison websites, booking in advance, and being flexible
                                        with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwenty">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwenty" aria-expanded="false"
                                        aria-controls="collapseTwenty">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseTwenty" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwenty" data-bs-parent="#accordionExampleSix">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing
                                        valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-support" role="tabpanel" aria-labelledby="nav-support-tab">
                    <div class="accordion-wrapper faq-style-2">
                        <div class="accordion" id="accordionExampleSeven">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyOne" aria-expanded="true"
                                        aria-controls="collapseTwentyOne">
                                        <span>Q.</span> What should I pack for my trip?3
                                    </button>
                                </h2>
                                <div id="collapseTwentyOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingTwentyOne" data-bs-parent="#accordionExampleSeven">
                                    <div class="accordion-body">
                                        Create comprehensive packing lists tailored to different types of trips (e.g.,
                                        beach vacation, hiking adventure, city exploration).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyTwo" aria-expanded="false"
                                        aria-controls="collapseTwentyTwo">
                                        <span>Q.</span> How do I find the best deals on flights and accommodations?
                                    </button>
                                </h2>
                                <div id="collapseTwentyTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwentyTwo" data-bs-parent="#accordionExampleSeven">
                                    <div class="accordion-body">
                                        Share strategies for booking flights and accommodations at the lowest prices,
                                        such as using fare comparison websites, booking in advance, and being flexible
                                        with travel dates.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwentyThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwentyThree" aria-expanded="false"
                                        aria-controls="collapseTwentyThree">
                                        <span>Q.</span> What are some tips for staying safe while traveling abroad?
                                    </button>
                                </h2>
                                <div id="collapseTwentyThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwentyThree" data-bs-parent="#accordionExampleSeven">
                                    <div class="accordion-body">
                                        Discuss common safety precautions, such as avoiding unsafe areas, securing
                                        valuables, and staying vigilant in crowded places.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>