@use '../../utils' as *;

/*----------------------------------------*/
/*  3.4.1 Footer Style 1
/*----------------------------------------*/
.footer-primary {
    .footer-copyright-area {
        border-top: 1px solid #3F3F3F;
    }
    .footer-wg-title {
        color: var(--bd-white);
    }
    .footer-middle {
        padding-top: 100px;
        padding-bottom: 100px;
        @media #{$xs,$sm} {
            padding-top: 65px;
            padding-bottom: 65px;
        }
    }
}
.footer-intro-main {
    &.style-one {
        padding-bottom: 70px;
        border-bottom: 1px solid #3F3F3F;
        .footer-intro-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            .bd-half-outline-btn {
                color: var(--bd-white);
                &::before {
                    border-color: var(--bd-white);
                }
            }
            .content {
                .title {
                    color: var(--bd-white);
                    font-weight: var(--bd-fw-medium);
                    max-width: 254px;
                    position: relative;
                    letter-spacing: -0.02em;
                    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 106.1%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
        }
    }
}
.footer-widget-grid {
    &.style-one {
        display: grid;
        grid-template-columns: auto auto auto auto  auto;
        gap: 30px 30px;
		@media #{$md} {
            grid-template-columns: auto auto auto;
		}
		@media #{$sm} {
            grid-template-columns: repeat(2, 1fr);
		}
		@media #{$xs} {
			grid-template-columns: 1fr;
		}
    }
}
.footer-intro-main {
    &.style-two {
        padding-bottom: 80px;
        border-bottom: 1px solid #3F3F3F;
        .footer-intro-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            .btn-wrap {
                width: max-content;
                .bd-input-btn {
                    background-color: var(--bd-primary);
                    color: var(--bd-white);
                }
            }
            .content {
                .title {
                    color: var(--bd-white);
                    font-weight: var(--bd-fw-medium);
                    @media #{$xl} {
                        font-size: 34px;
                    }
                    @media #{$lg} {
                        font-size: 28px;
                    }
                    @media #{$xs,$sm,$md} {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

// Footer Widget 1
.footer-info-single-item {
	display: grid;
	align-items: center;
	grid-template-columns: 40px auto;
    &:not(:last-child) {
        margin-bottom: 15px;
    }
    .icon {
        font-size: 22px;
        color: rgba(102, 102, 102, 1);
    }
    .title {
        a {
            font-size: 16px;
            color: var(--bd-white);
            &:hover {
                color: var(--bd-primary);
            }
        }
    }
}
.footer-info-list-items {
    margin-bottom: 30px;
}
.footer-info-wrapper {
    .bd-social {
        ul {
            li {
                a {
                    color: var(--bd-white);
                    &:hover {
                        color: var(--bd-primary);
                    }
                }
            }
        }
    }
}
