<div class="fix">
    <div class="offcanvas-area">
        <div class="offcanvas-wrapper">
            <div class="offcanvas-content">
                <div class="offcanvas-top d-flex justify-content-between align-items-center mb-25">
                    <div class="offcanvas-logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo-black.svg" alt="logo not found">
                        </a>
                    </div>
                    <div class="offcanvas-close">
                        <button class="offcanvas-close-icon animation--flip">
                            <span class="offcanvas-m-lines">
                                <span class="offcanvas-m-line line--1"></span><span
                                    class="offcanvas-m-line line--2"></span><span
                                    class="offcanvas-m-line line--3"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="offcanvas-search mb-0">
                    <form action="#">
                        <input type="text" name="offcanvasSearch" placeholder="Search here">
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="mobile-menu fix mb-25"></div>
                <div class="offcanvas-about d-none d-lg-block mb-25">
                    <h4 class="offcanvas-title-meta">About Reallow</h4>
                    <p>Explore stunning destinations and create immersive travel experiences that inspire wanderlust and
                        captivate your audience from the start.</p>
                </div>
                <div class="offcanvas-contact mb-25">
                    <h4 class="offcanvas-title-meta">Contact Info</h4>
                    <ul>
                        <li class="d-flex align-items-center gap-10">
                            <div class="offcanvas-contact-icon">
                                <a target="_blank" href="#">
                                    <i class="fal fa-map-marker-alt"></i></a>
                            </div>
                            <div class="offcanvas-contact-text">
                                <a target="_blank" href="#">1426 Center StreetBend, 97702, California, USA</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-10">
                            <div class="offcanvas-contact-icon">
                                <a href="tel:+415864872899"><i class="far fa-phone"></i></a>
                            </div>
                            <div class="offcanvas-contact-text">
                                <a href="tel:+415864872899">+415-864-8728-99</a>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-10">
                            <div class="offcanvas-contact-icon">
                                <a href="mailto:support@Reallow.com"><i class="fal fa-envelope"></i></a>
                            </div>
                            <div class="offcanvas-contact-text">
                                <a href="mailto:support@Reallow.com">support@Reallow.com</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="offcanvas-btn mb-25">
                    <h4 class="offcanvas-title-meta">Account</h4>
                    <div class="header-btn-wrap gap-10">
                        <a class="bd-btn btn-style text-btn" href="login.html">Log In</a>
                        <a class="bd-btn btn-style text-btn" href="contact.html">Get Started</a>
                    </div>
                </div>
                <div class="offcanvas-social">
                    <h4 class="offcanvas-title-meta">Subscribe & Follow</h4>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>
<div class="offcanvas-overlay-white"></div>