<div class="bd-search-popup-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bd-search-popup">
                    <div class="bd-search-form">
                        <form action="#">
                            <div class="bd-search-input">
                                <input type="search" name="search" placeholder="Type here to serach ...">
                                <div class="bd-search-submit">
                                    <button type="submit"><i class="fa-regular fa-magnifying-glass"></i></button>
                                </div>
                            </div>
                        </form>
                        <div class="bd-search-close">
                            <div class="bd-search-close-btn">
                                <button><i class="fa-thin fa-close"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- search popup overlay  -->
<div class="bd-search-overlay"></div>