<div class="basic-pagination">
    <nav>
       <ul>
          <li>
             <a href="#">
                <i class="fa-regular fa-arrow-left"></i>
             </a>
          </li>
          <li>
             <a href="#">1</a>
          </li>
          <li>
             <a class="current" href="#">2</a>
          </li>
          <li>
             <a href="#">3</a>
          </li>
          <li>
             <a href="#">
                <i class="fa-regular fa-arrow-right-long"></i>
             </a>
          </li>
       </ul>
    </nav>
</div>