<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Pre loader start -->
@@include('preloader.html')
<!-- Pre loader end -->
<!-- Cursor Animation -->
<div class="cursor1"></div>

<!-- Back to top start -->
@@include('backtotop.html')
<!-- Back to top end -->

<!-- Offcanvas area start -->
@@include('offcanves.html')
<!-- Offcanvas area start -->