<div class="col-lg-6 text-center">
    "formInputBox" : "form-input-box",
    "formInputTitle" : "contentHidden",
    "formInputFor" : "text",
    "formInputTitleText" : "first Name",
    "formInput" : "form-input",
    "formInputName" : "fname",
    "formInputType" : "text",
    "formInputId" : "fname",
    "formInputIconWrap" : "contentHidden",
    "formInputIcon" : "fa-solid fa-house",
    "formInputPlaceholder" : "First Name",
    "formInputIcon" : "fa-solid fa-envelope",
    "floatingFormLabelText": "Your Name",
</div>