<section class="pricing_section section-space">
    <div class="container">
       <div class="pricing_items_group row">
         <div class="col col-xl-3 col-lg-4 col-md-6">
           <div class="pricing_item">
             <h3 class="item_title">Nano</h3>
             <div class="price_value">
               <strong>20$</strong>
               <sub>/Months</sub>
             </div>
             <p>
               Alternatively, you can also have product tier names
             </p>
             <ul class="icon_list unordered_list_block">
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">06 Home Page</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">30+ Inner Page Design</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Fully Responsive</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Figma File Included</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Custom Plugin</span>
               </li>
             </ul>
             <a href="#!" class="bd-btn-link outline-dark">
               <span class="bd-button-content-wrapper">
                  <span class="bd-button-icon">
                   <i class="fa-light fa-arrow-right-long"></i>
                  </span>
                  <span class="pd-animation-flip">
                     <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                     </span>
                  </span> 
               </span>
            </a>
           </div>
         </div>
         <div class="col col-xl-3 col-lg-4 col-md-6">
           <div class="pricing_item">
             <h3 class="item_title">Micro</h3>
             <div class="price_value">
               <strong>50$</strong>
               <sub>/Months</sub>
             </div>
             <p>
               Alternatively, you can also have product tier names
             </p>
             <ul class="icon_list unordered_list_block">
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">06 Home Page</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">30+ Inner Page Design</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Fully Responsive</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Figma File Included</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Custom Plugin</span>
               </li>
             </ul>
             <a href="#!" class="bd-btn-link outline-dark">
               <span class="bd-button-content-wrapper">
                  <span class="bd-button-icon">
                   <i class="fa-light fa-arrow-right-long"></i>
                  </span>
                  <span class="pd-animation-flip">
                     <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                     </span>
                  </span> 
               </span>
            </a>
           </div>
         </div>
         <div class="col col-xl-3 col-lg-4 col-md-6">
           <div class="pricing_item recomanded_item" style="background-image: url('assets/images/shapes/shape_dots_BG.png');">
             <h3 class="item_title">Mega</h3>
             <div class="price_value">
               <strong>99$</strong>
               <sub>/Months</sub>
             </div>
             <p>
               Alternatively, you can also have product tier names
             </p>
             <ul class="icon_list unordered_list_block">
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">06 Home Page</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">30+ Inner Page Design</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Fully Responsive</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Figma File Included</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Custom Plugin</span>
               </li>
             </ul>
             <a href="about.html" class="bd-btn-link btn_warning">
               <span class="bd-button-content-wrapper">
                  <span class="bd-button-icon">
                   <i class="fa-light fa-arrow-right-long"></i>
                  </span>
                  <span class="pd-animation-flip">
                     <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                     </span>
                  </span> 
               </span>
            </a>
           </div>
         </div>
         <div class="col col-xl-3 col-lg-4 col-md-6">
           <div class="pricing_item">
             <h3 class="item_title">Giga</h3>
             <div class="price_value">
               <strong>130$</strong>
               <sub>/Months</sub>
             </div>
             <p>
               Alternatively, you can also have product tier names
             </p>
             <ul class="icon_list unordered_list_block">
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">06 Home Page</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">30+ Inner Page Design</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Fully Responsive</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Figma File Included</span>
               </li>
               <li>
                 <span class="list_item_icon">
                   <i class="fas fa-check"></i>
                 </span>
                 <span class="list_item_text">Custom Plugin</span>
               </li>
             </ul>
             <a href="#!" class="bd-btn-link outline-dark">
               <span class="bd-button-content-wrapper">
                  <span class="bd-button-icon">
                   <i class="fa-light fa-arrow-right-long"></i>
                  </span>
                  <span class="pd-animation-flip">
                     <span class="bd-btn-anim-wrapp">
                        <span class="bd-button-text">Order Now</span>
                        <span class="bd-button-text">Order Now</span>
                     </span>
                  </span> 
               </span>
            </a>
           </div>
         </div>
       </div>
     </div>
 </section>