<div class="@@serviceItem">
    <div class="@@serviceIcon">
        <span class="service__icon-wrap">
            <img class="@@serviceIconThumb" src="@@serviceThumb" alt="img not found">
        </span>
    </div>
    <div class="@@serviceContent">
        <h3 class="@@serviceTitle"><a href="@@serviceTitleLink">@@serviceTitleText</a></h3>
        <p>@@serviceParagraphText</p>
        <div class="@@serviceMore">
            <a class="@@bdBtn" href="@@serviceTitleLink">@@serviceBtnText <span><i class="@@btnIconName"></i></span></a>
        </div>
    </div>
</div>