<div class="service-wrapper style-three">
    <div class="p-relative">
        <div class="service-thumb image-overly">
            <a href="service-details.html"><img src="@@serviceImage" alt="image"></a>
        </div>
        <div class="service-meta d-flex align-items-center justify-content-between">
            <button class="service-favorite service-like">
                <i class="icon-heart"></i>
            </button>
        </div>
    </div>
    <div class="service-content">
        <div class="service-meta mb-10 d-flex align-items-center justify-content-between">
            <div class="service-location">
                <i class="fa-regular fa-location-dot"></i> <a href="service-details.html">@@serviceLocation</a>
            </div>
            <h6 class="service-price b3">@@servicePrice <span class="service-price-tag">@@servicePriceDay</span></h6>
        </div>
        <h5 class="service-title fw-5 underline mb-5"><a href="service-details.html">@@serviceTitle</a></h5>
        <div class="service-divider"></div>
        <div class="service-rating d-flex align-items-center justify-content-between">
            <div class="service-rating-wrap d-flex align-items-center gap-10">
                <div class="service-rating-icon fs-14 d-flex rating-color">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <span>@@serviceRating</span>
            </div>
            <div class="service-rating-text">
                <span><a href="#">@@serviceTotalRating</a></span>
            </div>
        </div>
    </div>
</div>